# -----------------------------------------------------------------------------
# Template Environment Variables
# Boleh di-commit ke Git. JANGAN isi dengan API Key atau Password asli di sini!
# -----------------------------------------------------------------------------

# Contoh variabel publik (bisa diakses di browser/client-side Next.js)
# Awali dengan NEXT_PUBLIC_
NEXT_PUBLIC_API_URL="https://api.domainkamu.com"

# Contoh variabel rahasia (hanya bisa diakses di server-side/API Routes)
SECRET_API_KEY="masukkan_key_rahasia_di_vercel_nanti"
